Home

In [1]:
print ("Hello, World!")

Hello, World!

Comments

In [4]:
#The comment
#print("Hello, World")
"""
The comment which written
in more than one line.
"""

Variables

In [5]:
x = 17
name = "Akhmet"
print(x)
print(name)

17
Akhmet

In [6]:
age = 17
age = 18
print(age)

18

In [9]:
a = str(3) #'3'
b = int(3) # 3
c = float(3) # 3.0
print(a)
print(b)
print(c)

3
3
3.0

In [10]:
ab = "Max"
a_b = "Max"
_a_b = "Max"
aB = "Max"
AB = "Max" 
ab2 = "Max"

In [11]:
2ab = "Max"
a-b = "Max"
a b = "Max"

SyntaxError: invalid decimal literal (1309197416.py, line 1)

In [14]:
a1, a2 = "apple", "banana"
print (a1)
print (a2)

x1 = x2 = "orange"
print (x1)
print (x2)

fruits = ["apple", "banana", "pineapple", "strawberry"]
print (fruits)
b1 = b2 = fruits
print (b1)
print (b2)

apple
banana
orange
orange
['apple', 'banana', 'pineapple', 'strawberry']
['apple', 'banana', 'pineapple', 'strawberry']
['apple', 'banana', 'pineapple', 'strawberry']

In [19]:
s1, s2, s3 = "Hello", "World", "!"
print (s1, s2, s3)
print (s1 + s2 + s3)
print (s1 + " " + s2 + " " + s3)

x = 2
y = 3
z = "D"
print (x + y)
print (str(x) + z)
print (x, z)

Hello World !
HelloWorld!
Hello World !
5
2D
2 D

In [28]:
name = "Doni"
def func():
    print ("My name is " + name)
func()

y = "Yy"
def yfunc():
    y = "Aa"
    print (y)
yfunc()
print (y)

c = "Journal"
def f():
    global c 
    c = "Book"
    print (c)
f()
print (c)

My name is Doni
Aa
Yy
Book
Book

Data types

In [30]:
a = 5
b = 5.5
c = 'A'
d = "Doner"
e = 1j
f = ["apple"]
g = ("apple")
h = {"apple"}
k = {"fruits" : "apple"}
l = True

print(type(a), type(b), type(c), type(d), type(e), type(f), type(g), type(h), type(k), type(l))

<class 'int'> <class 'float'> <class 'str'> <class 'str'> <class 'complex'> <class 'list'> <class 'str'> <class 'set'> <class 'dict'> <class 'bool'>

Python numbers

In [53]:
x, y, z = 12, 2135321432, -123241
print (type(x), type(y), type(z))

x1, y1, z1 = 1.2, 43.0, -12.7
print (type(x1), type(y1), type(z1))

x = float(x)
x1 = int(x1)
print(type(x), x)
print(type(x1), x1)

<class 'int'> <class 'int'> <class 'int'>
<class 'float'> <class 'float'> <class 'float'>
<class 'float'> 12.0
<class 'int'> 1

In [52]:
import random
print(random.randrange(1,10))

6

Python Strings

In [56]:
print('hello', "hello")
print("Hello, 'World'")
print('Hello, "World"')

hello hello
Hello, 'World'
Hello, "World"

In [57]:
text = """A faskfpsp akpdak pwdkap kwpak pskafpkawp 
fkeosfskfo eakf oeks
k oekwofkowkfoskofk aof
ekfoesk ofkeoskokowfokofqw"""
print(text)

A faskfpsp akpdak pwdkap kwpak pskafpkawp
fkeosfskfo eakf oeks
k oekwofkowkfoskofk aof
ekfoesk ofkeoskokowfokofqw

In [65]:
word = "Hello"
print(word[0])

print(len(word))

print ('e' in word)
if 'e' in word:
    print("Yes, 'e' is in word")

print('s' not in word)
if 's' not in word:
    print("Yes, 'e' is not in word")

for i in "apple":
    print(i)

H
5
True
Yes, 'e' is in word
True
a
p
p
l
e

In [80]:
a = "Hello, World! "
print(a[2:6])
print(a[:6])
print(a[2:])
print(a[-5:-4])
print(a.upper())
print(a.lower())
print(a.strip())
print(a.replace("H", "J"))
print(a.split(","))

llo,
Hello,
llo, World!
r
HELLO, WORLD!
hello, world!
Hello, World!
Jello, World!
['Hello', ' World! ']

In [82]:
a = "Hello"
b = "World"
c = a + " " + b
print (c)

Hello World

In [85]:
age = 17
txt = f"My name is Akhmet, I am {age}"
print (txt)

pi = 3.141552
p = f"Pi: {pi:.2f}"
print (p)

My name is Akhmet, I am 17
Pi: 3.14

In [92]:
txt = "The title of the book is \"Harry Potter\". "
print (txt)

s = "aDShdashd \\ asdjisadasd \n ajaidsa Ajdsia ajda asaA "
print (s)

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 48-49: truncated \xXX escape (2782339809.py, line 4)